extends layout

block content
    h1= title
    a(href="/queueTest")
        button Test Printer
    h2 Today's Stats (last 12 hours)
    ul
        - for value, stat in today
            li= value+' '+stat
    h2 Overall Stats
    ul
        - for value, stat in overall
            li= value+' '+stat

    h2 Responses
    table.answers
        tbody
            tr
                td Id
                td Message
                td Type
                td Edit
                td Delete
            - for (var i=0; i<answers.length; i++) {
                form(action="/answers/edit/"+answers[i].objectId, method="POST")
                    tr(id=answers[i].objectId)
                        td= i+1
                        td
                            .static= answers[i].body
                            input.update.text(type="text", name="answer", value=answers[i].body)
                        td= answers[i].type
                        td
                            .static
                                a.edit(href="#") Edit
                            input.update.confirm(type="submit", value="Confirm")
                        td 
                            .static
                                a(href="/answers/delete/"+answers[i].objectId) Delete
                            button.update.cancel Cancel
            - }
            form(action="/answer", method="POST")
                tr
                    td
                        button#add-answer +
                    td
                        input#new-answer(type="text", name="answer")
                    td
                        input#confirm(type="submit", value="Confirm")
                    td
                    td
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="/javascripts/admin.js")

    